<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order page</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="UTF-8">
    <script src="script/script.js"></script>
</head>
<body>
<div style="padding: 30px;">
    <a class="logout-link" href="/home">Home Page</a>
    <br><br><br><br>
    <h1>Order Details</h1>
    <p th:if="${order}">Order ID: <span th:text="${order.id}"></span></p>
    <p th:if="${order}">Customer Name: <span th:text="${order.customerName}"></span></p>

    <h2>Order Items:</h2>
    <ul th:if="${order}">
        <li th:each="product : ${order.products}">
            <span th:text="${product.product}"></span> - <span th:text="${product.price}"></span>RUB
        </li>
    </ul>
    <p th:unless="${order}">No order found.</p>
    <br>
    <br>
    <div th:if="${order_error}" style="color: red" th:text="${order_error}"></div>
    <br>
    <form method="get" action="/buyOrder">
        <input class = subinput type="submit" value="Buy">
    </form>
</div>
</body>
</html>